<%= form_for(@blog, controller: 'blog', action: 'update') do |f| %>
 
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <center>
            <h2>Write blog</h2>
        </center>
    </div>
    <div class="col-sm-3"></div>
  </div>


  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="form-group">
            <div>
                <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
            </div>
        </div>

        <div class="form-group">
            <div>
                <%= f.text_area :body, autocomplete: "off", class: "form-control", placeholder: "Write here..." %>
            </div>
        </div>

        <div class="form-group">
            <div>
                <%= f.submit "Submit", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<% end %>